### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/encodings.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17-11-2022_15_07_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17-11-2022_15_07__Changes_.xml
